@{
  Layout = "_Layout";
}

<div class="container">
  <h3>Palindrome Checker</h3>
  <form action='/palindrome/show' method='post'>
    <label for='userWord'>Enter A Word:</label>
    <input id='userWord' name='userWord' type='text' required>
    <button class="submitbutton" type='submit'>Run The Palindrome Checker</button>
  </form>
</div>