@{
  Layout = "_Layout";
}

<div class="container">
  <h3>Word Counter</h3>
  <p>Click the Link Below to play the word counter game. You will input a word, and a sentence and the program will check to see how many instances of the word is in the sentence.</p>
  <a href = '/wordcounter/new'>Play the Word Counter</a>
</div>
