@{
  Layout = "_Layout";
}

<div class="container">
  <h3>Word Counter</h3>
  <p>Your word "@Model.GetWord()" was found in "@Model.GetSentence()", @Model.GetTotal() Times.</p>
  <a href='/wordcounter'>Home</a>
</div>
