@{
  Layout = "_Layout";
}

<div class="container">
  <img src="~/img/cover.png">
  <p>Click the links above to visit the games available on the website.</p>
  <p>Current Games Available: Word Counter, Scrabble Points Counter.</p>
</div>
