<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WordCounter</title>
    <link rel=stylesheet href=https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css?v=1.32">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="~/js/scripts.js"></script>
  </head>
 <nav class="navbar navbar-light">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
      <a class="nav-item nav-link">|</a>
      <a class="nav-item nav-link" href="/wordcounter">Word Counter</a>
      <a class="nav-item nav-link">|</a>
      <a class="nav-item nav-link" href="/scrabble">Scrabble Point Counter</a>
      <a class="nav-item nav-link">|</a>
      <a class="nav-item nav-link" href="/palindrome">Palindrome Checker</a>
    </div>
</nav>
  <body>
    @RenderBody()
  </body>
</html>
