@using ScrabbleGame.Models;

@{
  Layout = "_Layout";
}

<div class="container">
    <h3>Scrabble Point Counter Game!</h3>
    <p>Click the Link Below to play the Scrabble Point Counter Game! Input a word and it will tell you how many points it would be in a Scrabble Game.</p>
    <a href = '/scrabble/new'>Play the Scrabble Point Counter Game!</a>

    @if (Scrabble._instances.Count == 0)
    {
        <p>You do not have any active Scrabble Point Counters</p>
    }
    @if (Scrabble._instances.Count != 0)
    {
        @foreach (Scrabble scrabble in Scrabble._instances)
        {
            <li><a href='/scrabble/@scrabble.GetId()'>Word Counter @scrabble.GetId() - Word: "@scrabble.GetWord()" </a></li>
        }
    }

</div>
