@using ScrabbleGame.Models;

@{
  Layout = "_Layout";
}

<div class="container">
    <img src="~/img/scrabblecounter.png">
    <br>
    <div>
        <a class="gamelink" href = '/scrabble/new'>Play the Scrabble Point Counter Game!</a>
    </div>
    <hr>

    @if (Scrabble._instances.Count == 0)
    {
        <p>You do not have any active Scrabble Point Counters</p>
    }
    @if (Scrabble._instances.Count != 0)
    {
        @foreach (Scrabble scrabble in Scrabble._instances)
        {
            <li><a href='/scrabble/@scrabble.GetId()'>Word Counter @scrabble.GetId() - Word: "@scrabble.GetWord()" </a></li>
        }
    }

</div>
