@{
  Layout = "_Layout";
}

<div class="container">
  <h3>Scrabble Point Counter</h3>
  <form action='/scrabble/show' method='post'>
    <label for='userWord'>Enter A Word:</label>
    <input id='userWord' name='userWord' type='text' required>
    <button class="submitbutton" type='submit'>Run The Scrabble Point Counter</button>
  </form>
</div>