@{
  Layout = "_Layout";
}

<div class="container">
  <h3>Scrabble Point Counter </h3>
  <hr>
  <p>Your word "@Model.GetWord()" is worth "@Model.GetTotal()" points in a game of Scrabble.</p>
  <a href='/scrabble'>Home</a>
</div>
