nav
{
    background-color: #0E0B16;
    font-size: 18px;
    padding-bottom: -10px;
}

body
{
    background-color: #0E0B16;
    color: #E7DFDD;
}

a
{
    font-family: 'Roboto Slab', serif;
}
a:link
{
    color: #A239CA;
}

a:visited
{
    color: #A239CA;
}

a:hover
{
    color: #E7DFDD;
}

a:active
{
    color: #E7DFDD;
}

img
{
    margin-left: 10%;
    margin-right: 50%;
}

hr
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #4717F6;
    margin: 1em 0;
    padding: 0;
}

a.gamelink
{
    margin-left: 35%;
}

.submitbutton
{
    background-color: #4717F6;
    border: none;
    color: #E7DFDD;
    padding: 3px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.maintext
{
    margin-right: 10%;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
}

li
{
    font-family: 'Roboto Slab', serif;
}